{# Favicon #}
{% set favicon = config.extra.images.favicon %}
{% if favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon | safe }}" />
{% endif %}

{# Define array of CSS files to load. main.css is always loaded. #}
{% set stylesheets = [ 
    "libs/bootstrap-icons/font/bootstrap-icons.min.css",
    "libs/fontawesome/css/all.min.css",
    "libs/bootstrap-4.6.2/css/bootstrap.min.css",
    "css/style-3.03029.1.css",
    "css/main.css", 
] %}

{# Load all stylesheets #}
{%- for stylesheet in stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet | safe }}" />
{%- endfor %}