<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% if config.extra.seo.keywords %}
<meta name="keywords" content="{{ config.extra.seo.keywords }}">
{% endif %}
{% if config.extra.seo.description %}
<meta name="description" content="{{ config.extra.seo.description }}">
{% endif %}
<meta name="author" content="{{ config.author | default(value='Jetsung Chan')}}">
