{% set title = config.title | safe %}
{% set logoExpandLight = config.extra.images.logoExpandLight %}
{% set logoExpandDark = config.extra.images.logoExpandDark %}

<a href="" class="navbar-brand d-md-none">
    {% if logoExpandLight %}
    <img src="{{ get_url(path=logoExpandLight, cachebust=true) | safe }}" title="{{ title }}"  class="logo-light">
    {% endif %}
    {% if logoExpandDark %}
    <img src="{{ get_url(path=logoExpandDark, cachebust=true) | safe }}" title="{{ title }}" class="logo-dark d-none">
    {% endif %}
</a>