<div class="sidebar-menu flex-fill">
    <div class="sidebar-scroll">
        <div class="sidebar-menu-inner">
            {% set data = load_data(path="data/webstack.yml", format="yaml") %}
            {% if data %}
            <ul>
                {% for taxonomy_item in data %}
                <li class="sidebar-item">
                    <a href="#category-{{ get_hash(literal=taxonomy_item.taxonomy, sha_type=256, base64=false) | safe }}" class="smooth">
                        <i class="{{ taxonomy_item.icon | default(value='') }} icon-fw icon-lg mr-2"></i>
                        <span>{{ taxonomy_item.taxonomy }}</span>
                    </a>
                    {% set list = taxonomy_item.list %}
                    {% if list %}
                    <ul>
                        {% for item in list %}
                        <li>
                            <a href="#category-{{ get_hash(literal=item.term, sha_type=256, base64=false) | safe }}" class="smooth">
                                <i class="{{ item.icon | default(value='') }} icon-fw icon-lg mr-2"></i>
                                <span>{{ item.term }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>                
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
