{% extends "base.html" %}

{% block main_content %}

{# 主体内容 #}
<div id="content" class="content-site customize-site">
	{% set data = load_data(path="content/navsites.yml", format="yaml") %}
	{% if data %}
	{% for taxonomy_item in data %}
	<div class="d-flex flex-fill" id="category-{{ get_hash(literal=taxonomy_item.taxonomy, sha_type=256, base64=false) | safe }}">
		<h4 class="text-gray text-lg mb-4">
			<i class="{{ taxonomy_item.icon | default(value='') }} fa-lg icon-fw icon-lg mr-2"></i> {{ taxonomy_item.taxonomy }}
		</h4>
		<div class="flex-fill"></div>
	</div>
    {% set list = taxonomy_item.list %}
    {% if list | length > 1%}
	<div class="d-flex flex-fill flex-tab align-items-center">
		<div class="overflow-x-auto slider_menu mini_tab" slidertab="sliderTab">
			<ul class="nav nav-pills menu" role="tablist">
				{% for element in list %}
				<li class="pagenumber nav-item" data-id="{{ get_hash(literal=element.term, sha_type=256, base64=false) | safe }}" more='0'>
					<a id="category-{{ get_hash(literal=element.term, sha_type=256, base64=false) | safe }}" 
                        href="#tab-{{ get_hash(literal=element.term, sha_type=256, base64=false) | safe }}"
                        class="nav-link {% if loop.index == 1 %}active{% endif %}" 
                        data-toggle="pill">
                        {{ element.term }}
                    </a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class='flex-fill'></div>
	</div>
    {% endif %}

	<div class="tab-content mt-4">
		{% for element in list %}
        {% set index = loop.index %}
		<div id="tab-{{ get_hash(literal=element.term, sha_type=256, base64=false) | safe }}" 
            class="tab-pane {% if index == 1 %}active{% endif %}" load="1">
			<div id="{{ get_hash(literal=element.term, sha_type=256, base64=false) | safe }}"
                class="row sortable row-{{ get_hash(literal=element.term, sha_type=256, base64=false) | safe }}">
                {% for ele in element.links %}
                {% set idx = loop.index %}
				<div class="url-card col-6 col-sm-6 col-md-4 col-xl-5a col-xxl-6a" id="index-{{ index }}-{{ idx }}">
					<div class="url-body default">
						{% if ele.qrcode %}
						<a href="javascript: void(0);" 
                            class="card no-c mb-4" 
                            alt="{{ ele.title }}" 
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            rel="noopener noreferrer"
                            title="<img src='{{ ele.qrcode }}' width='128'>">
						{% else %}	
						<a href="{{ ele.url | default(value='')}}" 
                            target="_blank" 
                            alt="{{ ele.title }}"  
                            title="{{ ele.description }}"
                            class="card no-c mb-4" 
                            data-url="{{ ele.url }}" 
                            data-placement="bottom" 
                            data-toggle="tooltip"
                            rel="noopener noreferrer">
						{% endif %}
                            <div class="card-body">
                                <div class="url-content d-flex align-items-center">
                                    <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                        {% set defaultLogo = config.extra.images.defaultLogo %}
                                        {% set logoUrl = ele.logo | default(value='') %}
                                        {% if logoUrl is starting_with("http") %}
										<img class="lazy" 
											src="{{ logoUrl }}" 
											data-src="{{ logoUrl }}" 
											onerror="javascript: this.src='{{ defaultLogo }}'"
											alt="{{ ele.title }}">
										{% else %}
                                            {% if logoUrl %}
                                            <img class="lazy" src="{{ config.extra.images.logosPath }}/{{ logoUrl }}" alt="{{ ele.title }}">
                                            {% else %}
                                            <img class="lazy" src="{{ defaultLogo }}" alt="{{ ele.title }}">
                                            {% endif %}
										{% endif %}                                        
                                    </div>
                                    <div class="url-info flex-fill">
                                        <div class="text-sm overflowClip_1">
                                            <strong>{{ ele.title }}</strong>
                                        </div>
                                        <p class="overflowClip_1 m-0 text-muted text-xs">{{ ele.description }}</p>
                                    </div>
                                </div>
                            </div>                        
                        </a>   
                        <a href="{{ ele.url | default(value='') }}" 
                            target="_blank" 
                            class="togo text-center text-muted is-views" 
                            data-id="689" 
                            data-toggle="tooltip" 
                            data-placement="right" 
                            title="直达" 
                            rel="nofollow">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </div>
				</div>
				{% endfor %}
			</div>
		</div> 
		{% endfor %}
	</div>
	<br />

	{% endfor %} 
	{% endif %} 

	{% include "partials/friends.html" ignore missing %}
</div>

{% endblock main_content %}