{% extends "base.html" %}

{% block main_content %}

{# 主体内容 #}
<div id="content" class="content-site customize-site">
	{% set data = load_data(path="content/navsites.yml", format="yaml") %}
	{% if data %}
        {# 卡片模式 #}
        {% if config.extra.cardMode %}
            {% include "main/card.html" ignore missing %}
        {% else %}
            {% include "main/content.html" ignore missing %}
        {% endif %}
    {% endif %}
	{% include "partials/friends.html" ignore missing %}
</div>

{% endblock main_content %}